@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html {
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
}

.header {
	min-height: 620px;
	width: 100%;
	background: linear-gradient(rgba(16, 16, 16, 0.65),rgba(16, 16, 16, 0.65)),url(./Medias/banner3.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	box-shadow: 0 0 30px 0 rgba(255, 72, 0, 0.65);
}

.top {
	width: 100%;
	height: 40px;
	background: #1F1F2E;
	padding: 0 4%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.top i:hover {
	color: #FF4800;
	transition: .3s;
}

.top .information a {
	padding-right: 2rem;
	font-size: 1.4rem;
	color: #fff;
}

.top .information i {
	margin-right: 0.6rem;
}

.top .social a {
	padding-left: 2rem;
	font-size: 1.9rem;
	color: #fff;
}

.navbar {
	width: 100%;
	height: 103px;
	padding: 1% 4%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
}

.navbar .logo img {
	width: 130px;
}

.nav-links ul li  {
	display: inline-block;
	list-style-type: none;
	padding: 8px 12px;
}

.nav-links ul li a {
	color: #161616;
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: 0.5px;
}

.nav-links ul li::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #FF4800;
	display: block;
	transition: .5s;
}

.nav-links ul li:hover::after {
	width: 100%;
}

.navbar .btn {
	padding: 1.2rem 2.9rem;
	border: 2px solid #FF4800;
	background: #FF4800;
	font-size: 1.6rem;
	font-weight: 600;
	color: #fff;
	border-radius: 1rem;
}

.navbar .btn:hover {
	background: transparent;
	color: #FF4800;
	box-shadow: 0 0 15px 0 rgba(255, 72, 0, 0.75);
	transition: .5s;
}

.navbar i,.navbar .phone {
	font-size: 4rem;
	color: #1F1F2E;
	cursor: pointer;
	display: none;
}

.header .text-box {
	width: 90%;
	color: #fff;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-60%);
	text-align: center;
}

.header .text-box h3 {
	font-size: 4rem;
	font-weight: 900;
	color: #FF4800;
}

.header .text-box h1 {
	font-size: 5.8rem;
	margin-bottom: 2.7rem;
	font-weight: 900;
	animation: text 1.5s 1;
}

@keyframes text {
	0% {
		letter-spacing: 0px;
		opacity: 0.3;
	}

	25% {
		letter-spacing: 3px;
	}

}

.header .text-box a {
	padding: 1.3rem 3.8rem;
	font-size: 1.8rem;
	background: #FF4800;
	border: 2px solid #FF4800;
	border-radius: 5px;
	color: #fff;
	font-weight: 600;
}

.header .text-box a:hover {
	background: transparent;
	box-shadow: 0 0 15px 0 rgba(255, 72, 0, 0.75);
	color: #FF4800;
	transition: .5s;
}

.info {
	width: 90%;
	margin: auto;
	text-align: center;
	padding-top: 30px;
}

.info h2 {
	font-size: 2.3rem;
	margin-bottom: 0.5rem;
	color: #FF4800;
}

.info h2:hover {
	letter-spacing: 1px;
	transition: .3s;
}

.info .line {
	width: 40%;
	height: 3px;
	background: #FF4800;
	border-radius: 5px;
	margin: auto;
	margin-bottom: 0.5rem;
}

.info h3 {
	font-size: 3.3rem;
	letter-spacing: 1px;
	color: #161616;
}

.info .row {
	margin-top: 30px;
	max-height: 600px;
	display: flex;
	justify-content: center;
}

.info .info-col {
	flex-basis: 32%;
	max-width: 400px;
	background: #fff3f3;
	border-radius: 10px;
	padding: 20px 15px;
	margin: 0 2%;
	margin-bottom: 3%;
	transition: .5s;
}

.info .info-col h3{
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 1rem;
	letter-spacing: 0;
	color: #FF4800;
	font-weight: 900;
}

.info .info-col i {
	padding-left: 3px;
}

.info .info-col p {
	font-size: 1.5rem;
	font-weight: 500;
	color: #161616;
}

.info .info-col:hover {
	box-shadow: 0 0 23px 0 rgba(255, 72, 0, 0.60);
}

.transportation {
	width: 90%;
	margin: auto;
	text-align: center;
	max-width: 1500px;
	padding-top: 15px;
}

.transportation .row {
	display: flex;
	justify-content: center;
}

.transportation .row .trans-left {
	flex-basis: 40%;
	max-width: 492px;
	max-height: 409px;
	background: #FF4800;
	margin-left: 3%;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.transportation .row .trans-left:hover {
	box-shadow: 0 0 23px 0 rgba(255, 72, 0, 0.68);
	transition: .5s;
}

.transportation .row .trans-left img {
	width: 100%;
	height: 85%;
	border-top-left-radius: 30px;
}

.transportation .row .trans-left h3 {
	padding: 0.5rem;
	font-size: 2.6rem;
	color: #fff;
	animation: blink2 1.4s linear infinite;;
}

@keyframes blink2 {
	50% {
		text-shadow: 0 0 10px #FFFFFF;
	}
}


.transportation .row .trans-right {
	flex-basis: 55%;
	margin-right: 3%;
	text-align: left;
	padding: 0.7rem 2rem;
	padding-top: 0;
}

.transportation .row .trans-right h3 {
	font-size: 3rem;
	color: #FF4800;
	margin-bottom: 1rem;
}

.transportation .row .trans-right p {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
	color: #161616;
}

.regions {
	width: 90%;
	max-width: 1500px;
	margin: auto;
	text-align: center;
	padding-top: 70px;
}

.regions .row {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.regions h2 {
	font-size: 2.3rem;
	margin-bottom: 0.5rem;
	color: #FF4800;
}

.regions h2:hover {
	letter-spacing: 1px;
	transition: .3s;
}

.regions .line {
	width: 40%;
	height: 3px;
	background: #FF4800;
	border-radius: 5px;
	margin: auto;
	margin-bottom: 0.5rem;
}

.regions h3 {
	font-size: 3.3rem;
	letter-spacing: 1px;
	color: #161616;
}

.regions .reg-left {
	flex-basis: 25%;
	text-align: left;
	margin-left: 3%;
}

.regions .reg-left ul li {
	color: #161616;
	font-size: 1.7rem;
	font-weight: 600;
	padding-bottom: 0.5rem;
	list-style-type: none;
	transition: .4s;
}

.regions .reg-left ul li:hover {
	color: #FF4800;
}

.regions .reg-left ul li::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #FF4800;
	display: block;
	transition: .5s;
}

.regions .reg-left ul li:hover::after {
	width: 70%;
}

.regions .reg-left ul li i {
	color: #FF4800;
	padding-right: 5px;
}

.regions .reg-right {
	flex-basis: 60%;
	border-radius: 10px;
	margin-right: 3%;
	position: relative;
	overflow: hidden;
}

.regions .reg-right img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.regions .reg-right .layer {
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: .5s;
}

.regions .reg-right .layer h3 {
	width: 100%;
	font-weight: 700;
	color: #fff;
	font-size: 5rem;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: .5s;
}

.regions .reg-right .layer:hover h3 {
	bottom: 42%;
	opacity: 1;
}

.regions .reg-right .layer:hover {
	background: rgba(255, 72, 0, 0.60);
}

.footer {
	width: 100%;
	margin-top: 150px;
	padding: 2% 2%;
	background: #1F1F2E;
}

.footer .row {
	max-width: 1500px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.footer .row .logo {
	margin-bottom: 10px;
}

.footer .row .logo img {
	width: 155px;
	cursor: pointer;
}

.footer .row .footer-left a {
	font-size: 1.5rem;
	font-weight: 600;
	color: #fff;
	padding-right: 10px;
	transition: .5s;
}

.footer .row .footer-left a:hover {
	color: #FF4800;
}

.footer .row .footer-left p {
	font-size: 1.4rem;
	margin-top: 15px;
	font-weight: 500;
	color: #727276;
	animation: blink 2.5s linear infinite;
}

@keyframes blink{
	50% {
		color: #FF4800;
	}
}

.footer .row .footer-center .item {
	display: flex;
	padding: 1.3rem;
}

.footer .row .footer-center .item p::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #FF4800;
	display: block;
	transition: .5s;
}

.footer .row .footer-center .item p:hover::after {
	width: 100%;
}

.footer .row .footer-center .item i {
	font-size: 2.3rem;
	padding-right: 10px;
	color: #FF4800;
}

.footer .row .footer-center .location i {
	padding-right: 17px;
}

.footer .row .footer-center .item p {
	color: rgb(218, 215, 220);
	font-size: 1.5rem;
	font-weight: 500;
}

.footer .row .footer-right h4{
	font-size: 2rem;
	margin-bottom: 1rem;
	color: #FF4800;
}

.footer .row .footer-right p {
	color: #fff;
	font-size: 1.3rem;
}

.whatsapp{
	position: fixed;
	padding: 2.5rem;
	bottom: 2.5%;
	cursor: pointer;
}

@media(max-width: 1174px) {
	.regions .row {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.regions .row .reg-right {
		margin-bottom: 3rem;
		margin-left: 2%;
	}

	.regions .row .reg-left ul li {
		font-size: 2.2rem;
	}
}

@media(max-width: 837px) {
	html {
		font-size: 7px;
	}
}

@media(max-width: 762px) {
	.transportation .row .trans-left h3 {
		padding: 1.4rem;
	}

	.footer .row {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 300px;
		margin: auto;
		text-align: center;
		padding: 1rem;
	}

	.whatsapp img {
		width: 47px;
	}
}

@media(max-width: 600px) {
	.header {
		min-height: 500px;
	}
	.top {
		display: none;
	}

	.top .social {
		display: none;
	}

	.top .information {
		margin-bottom: 0.5rem;
	}

	.navbar {
		position: fixed;
		z-index: 1;
		height: 100px;
	}

	.navbar .logo img {
		width: 130px;
	}

	.navbar .btn {
		display: none;
	}

	.navbar i,.navbar .phone {
		display: block;
	}

	.navbar i:hover{
		color: #FF4800;
		transition: .5s;
	}

	.navbar .nav-links{
        position: fixed;
        width: 100%;
        height: 300px;
        background: #fff;
        top: 100px;
        right: -100%;
        text-align: center;
        z-index: 2;
        transition: all .5s;
    }

    .navbar .nav-links.show {
        right: 0;
    }

    .navbar .nav-links ul li{
        display: block;
        margin-top: 2.5rem;
        margin-bottom: 5rem;
    }

    .navbar .nav-links ul li a {
    	color: #161616;
    }

    .nav-links ul li::after {
		margin: auto;
	}

	.nav-links ul li:hover::after {
		width: 20%;
	}

	.info .row {
		flex-direction: column;
	}

	.info .row .info-col {
		flex-basis: 32%;
		max-width: 535px;
	}

	.transportation .row {
		flex-direction: column;
	}

	.transportation .row .trans-right {
		padding: 2rem 2rem;
		margin-left: 4%;
		margin-right: 4%;
	}

	.transportation .row .trans-left {
		margin-left: 4%;
		margin-right: 4%;
	}

	.transportation .row .trans-right p {
		font-size: 2rem;
	}
}
